[submodule "poelab1"]
	path = poelab1
	url = https://github.com/kailevy/poelab1
[submodule "poelab2"]
	path = poelab2
	url = https://github.com/kailevy/poelab2
[submodule "poelab3"]
	path = poelab3
	url = https://github.com/kailevy/poelab3
